html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}

/* Div Columns */
div {
  float: left;
  display: flex;
}

#col1 {
  max-width: 70%;
  text-align: center;
}
#col2 {
  margin-left: 2%;
  max-width: 30%;
}

/* Table */
tr {
  height: 40px;
}

table {
  background-color: royalblue;
  width: 90%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

td {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 300%;
  background-color: white;
  min-width: 100px;
  height: 100px;
}

/* Button */
button {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding: auto;
}

/* List of Words */
#wordsList {
  list-style-type: none;
}
#outerWordListDiv {
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
  height: 465px;
  display: flex;
  flex-direction: column;
}

#innerWordListDiv {
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 4%;
  font-family: Arial, Helvetica, sans-serif;
}
